<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.d01_board.repository.A02_QueBankDao">
	<resultMap type="quebank" id="quebankResult" />
	<select id="listQuebank" resultMap="quebankResult"
		parameterType="schQuebank">
		select * from quebank
		where 1=1
		<if test="que != null and que != ''">
			and que like '%'||#{que}||'%'
		</if>
		<if test="queType != null and queType != ''">
			and queType like '%'||#{queType}||'%'
		</if>
	</select>
	<insert id="insertQuebank" parameterType="quebank">
	insert into quebank values (
	quebank_seq.nextval,
	#{que},
	#{corAnsw},
	#{queType}
	)
	</insert>
</mapper>
